{% extends "base.html" %}

{% block content %}
    <div class="menu">
        <a href="/">home</a>
        <a href="/import">import</a>
    </div>
    <div>
        <form action="." method="POST">
            {% csrf_token %}
            <h2>Import Dictionary</h2>
            <input type="file" name="" id="">

            <button class="submit-btn">Submit</button>
        </form>

        <h2>Dictionaries</h2>

        <ol>
            {% for dictionary in dictionaries %}
                <li>{{dictionary.title}}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}