{% extends "base.html" %}

{% block content %}
    <div class="menu">
        <a href="/">home</a>
        <a href="/import">import</a>
    </div>
    <div class="search-bar">
        <form action="." method="get">
            {% csrf_token %}
            <input type="search" value="{{keyword}}" placeholder="Search" name="term" class="search-inp">
            <button type="submit" class="search-btn">S</button>
        </form>
    </div>
    <div class="terms">
        <p><small>{{terms|length}} results</small></p>
            {% regroup terms by term as regrouped_terms %}

            {% for term in regrouped_terms %}
                <div class="term-card">
                    <ruby>
                        {{term.grouper}}
                        <rt>{{term.list.0.reading}}</rt>
                    </ruby>
                    
                    <ul>
                        {% for term in term.list %}
                            
                            {% for definition in term.separated_definitions %}
                                <li>
                                    {{definition}}
                                </li>
                            {% endfor %}
                            
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
    </div>
{% endblock content %}